@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-navbar: #fad400;
  --color-primary: rgba(65, 90, 233, 0.288);
  --color-secondary: orange;
  --color-hover: rgba(21, 34, 107, 0.788);
  --color-success: #7dcd85;
  --color-error: #ee4266;

  @apply text-[62.5%];
  @apply lg:text-[56.25%];
  @apply md:text-[50%];
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
